body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}


.container {
	margin: 0 auto;
	width: 960px;
}

.header {
	background: url('../img/header-bg.png') repeat-x;
	overflow: hidden;
}

.logo {
	float: left;
}

.nav {
	display: inline-block;
	margin-top: 36px;
}

	.nav ul,
	.nav li {
		display: inline-block;
	}

		.nav li {
			text-shadow: 0px 1px 0px #ffd988;
		}

		.nav a {
			color: #000;
			font: 14px Arial;
			line-height: 36px;
			padding: 0 25px;
			text-decoration: none;
		}

		.nav a::after {
			background: url('../img/separator.png') no-repeat;
			content: "";
			display: inline-block;
			float: right;
			height: 36px;
			width: 2px;
		}

		.nav li:last-child a:after {
			display: none;
		}

.read-more {
	color: #ff6c00;
	text-decoration: none;
}

.clear {
	clear: both;
}

.featured img {
	width: 100%;
}

.page-content {
	position: relative;
}

.main {
	margin-top: 40px;
	padding-top: 40px;
	width: 66%;
}

	.main li {
		float: left;
		margin-bottom: 60px;
		width: 50%;
	}

	.main .item-ico {
		float: left;
		margin-right: 10px;
	}

	.main h4 {
		color: #412900;
		font-size: 20px;
		margin: 0;
	}

	.main p {
		color: #7f7154;
		font-size: 14px;
		line-height: 24px;
		padding-right: 15px;
		text-align: justify;
	}

.side-bar {
	position: absolute;
	right: 0;
	top: 0;
	width: 33%;
}

	.search-box,
	.search-box-alt {
		background: #ffac00;
		border-radius: 5px;
		color: #fff;
		padding: 10px;
	}

	.search-box-alt {
		margin: 0 auto;
		margin-top: 50px;
		position: relative;
		width: 530px;
	}

	.search-box-alt:before,
	.search-box-alt:after {
		background: #e8e2d6;
		border-radius: 5px;
		content: " ";
		display: block;
		height: 38px;
		position: absolute;
		width: 38px;
		z-index: -1;
	}

	.search-box-alt:before {
		left: -5px;
		bottom: -5px;
	}

	.search-box-alt:after {
		right: -5px;
		bottom: -5px;
	}

		.search-box input,
		.search-box-alt input {
			border-radius: 5px;
			padding: 8px;
		}

		.search-box input[type=text],
		.search-box-alt input[type=text] {
			border: 1px solid #e59a00;
			box-shadow: -3px -3px 7px 4px rgba(0, 0, 0, .15) inset;
			width: 193px;
		}

		.search-box-alt input[type=text] {
			width: 426px;
		}

		.search-box input[type=submit],
		.search-box-alt input[type=submit] {
			background: #ffac00;
			border: 1px solid #ffc600;
			color: #fff;
			font-size: 14px;
			padding: 5px 14px;
		}

		.search-box-alt input[type=submit] {
			background: #ffc650;
			border: 1px solid #e79b00;
			box-shadow: inset -3px -3px 8px 0px rgba(255, 255, 255, 0.75);
			padding: 6px 14px;
		}

		.search-box input[type=radio],
		.search-box-alt input[type=radio] {
			margin-top: 15px;
			margin-right: 5px;
		}

	.ads {
		margin-top: 40px;
	}

	.pull-up {
		/* TODO: Fix this hack; */
		margin-top: -18px !important;
	}

.items-list {
	margin-top: 30px;
}

	.items-list .tab-header {
		background: #ffba29;
		border-radius: 5px;
		color: #310000;
		font-style: 14px;
		padding: 6px 18px 14px 14px;
		position: relative;
		z-index: -3;
	}

	.items-list .tab-header.active {
		background: #ffdb90;
	}

	.items-list .tab-header:after,
	.items-list .tab-header.active:after {
		background: url('../img/tab1.png') no-repeat;
		content: " ";
		height: 30px;
		position: absolute;
		top: 0px;
		right: 0;
		width: 12px;
	}

	.items-list .tab-header:after {
		background: url('../img/tab2.png') no-repeat;
	}

	.items-list ul {
		background: #ffdb90;
		border-radius: 5px;
		margin-top: 6px;
		padding: 9px;
		position: relative;
		z-index: -2;
	}

	.items-list li {
		background: #ffd06e;
		border: 1px solid #ecbe5e;
		border-radius: 5px;
		margin-top: 5px;
		padding: 7px 11px;
		position: relative;
	}

	.items-list li:first-child {
		margin-top: 0;
	}

	.items-list li:before {
		border: 1px solid #ffedc7;
		border-radius: 5px;
		bottom: -2px;
		content: " ";
		left: -2px;
		position: absolute;
		right: -2px;
		top: -2px;
		z-index: -1;
	}

	.items-list a {
		color: #7f7154;
		font-style: 12px;
		text-decoration: none; 
	}

	.items-list a.right {
		color: #e4a217;
		float: right;
	}

.features-bottom {
	background: #f8f3e9;
	margin-top: 30px;
	padding: 20px 0;
}

	.features-bottom li {
		display: inline-block;
		margin-right: 26px;
	}

		.features-bottom li:last-child {
			margin-right: 0;
		}

.featured-posts-bottom {
	background: #310000;
	overflow: hidden;
	padding-bottom: 40px;
}

	.featured-posts-bottom li {
		float: left;
		position: relative;
	}

		.featured-posts-bottom h4 {
			color: #bbff00;
			font: bold 16px Arial;
			position: absolute;
			left: 20px;
			top: 70px;
		}

		.featured-posts-bottom p {
			color: #fff;
			font: 14px Arial;
			position: absolute;
			left: 20px;
			line-height: 20px;
			top: 105px;
		}

.footer {
	color: #a36f00;
	background: #ffad00;
	font: 12px Arial;
	text-align: center;
}

	.footer p {
		margin: 0;
		padding: 20px 0;
	}