body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}


.container {
	margin: 0 auto;
	width: 960px;
}

.header {
	background: url('../img/header-bg.png') repeat-x;
	overflow: hidden;
}

.logo {
	float: left;
}

.nav {
	display: inline-block;
	margin-top: 36px;
}

	.nav ul,
	.nav li {
		display: inline-block;
	}

		.nav li {
			text-shadow: 0px 1px 0px #ffd988;
		}

		.nav a {
			color: #000;
			font: 14px Arial;
			line-height: 36px;
			padding: 0 25px;
			text-decoration: none;
		}

		.nav a::after {
			background: url('../img/separator.png') no-repeat;
			content: "";
			display: inline-block;
			float: right;
			height: 36px;
			width: 2px;
		}

		.nav li:last-child a:after {
			display: none;
		}



.features-bottom {
	background: #f8f3e9;
	padding: 20px 0;
}

	.features-bottom li {
		display: inline-block;
		margin-right: 26px;
	}

		.features-bottom li:last-child {
			margin-right: 0;
		}

.featured-posts-bottom {
	background: #310000;
	overflow: hidden;
	padding-bottom: 40px;
}

	.featured-posts-bottom li {
		float: left;
		position: relative;
	}

		.featured-posts-bottom h4 {
			color: #bbff00;
			font: bold 16px Arial;
			position: absolute;
			left: 20px;
			top: 70px;
		}

		.featured-posts-bottom p {
			color: #fff;
			font: 14px Arial;
			position: absolute;
			left: 20px;
			line-height: 20px;
			top: 105px;
		}

			.featured-posts-bottom .read-more {
				color: #ff6c00;
				text-decoration: none;
			}

.footer {
	color: #a36f00;
	background: #ffad00;
	font: 12px Arial;
	text-align: center;
}

	.footer p {
		margin: 0;
		padding: 20px 0;
	}